doctype html
html(lang="en")
  head
    title Advertise with us | Westminster SU
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(type="text/css",rel="stylesheet",href="style.css")
    link(type="text/css",rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    header
        a(href="http://uwsu.com")
          img(src="img/su.png")
    section#hero
      div.bg(style="background-image:url('img/hero.jpg')")
      div.content
        h1 Advertise with us
        h2 Students? We've got 22,000 of those...
      svg(height="100",width="100",preserveAspectRatio="none",viewBox="0 0 100 100")#slice
        polygon(points="100,0 100,100, 0,100",style="fill:white;")
      svg(height="120",width="100",viewBox="0 0 100 120")#arrows
        g
          line(x1="2.5" y1="2.5" x2="37.5" y2="37.5")
          line(x1="72.5" y1="2.5" x2="37.5" y2="37.5")
        g
          line(x1="12.5" y1="40.5" x2="37.5" y2="65.5")
          line(x1="62.5" y1="40.5" x2="37.5" y2="65.5")    
  
    section#sells
      article.sell
        aside.caption
          h3 Award-winning student media platforms
          p Gain access to 22,000 students by advertising on the SU website, directly via screens.
          .icons
            .icon
              i.fa.fa-newspaper-o
              span 17,000
              span copies printed
            .icon
              i.fa.fa-microphone
              span 2,000
              span regular listeners in 2015
            .icon
              i.fa.fa-mobile
              span 19,000
              span website users
        aside.media
          img(src="img/sell1.jpg")
      article.sell
        aside.caption
          h3 Digital and print options
          p Gain access to 22,000 students by advertising on the SU website, directly via screens.
          .icons
            .icon
              i.fa.fa-facebook-square
              span 17,000
              span likes
            .icon
              i.fa.fa-twitter
              span 7,600
              span followers
            .icon
              i.fa.fa-envelope
              span 19,000
              span opens per campaign
        aside.media
          div(style="background-image:url('img/mockup.png')").phone-holder
            .viewport
              img(src="img/screen2.png").screen
              img(src="img/screen3.png").screen.parallaxing
      article.sell
        aside.caption
          h3 Reach out directly at Arrivals Week
          p Book stalls at any of our four fairs to directly connect with freshers at the biggest event of the academic year.
          .icons
            .icon
              i.fa.fa-users
              span 7000 
              span new students
            .icon
              i.fa.fa-shopping-bag
              span 5000
              span goody bags
        aside.media
          div.periscope


    section#packages
      div.bg(style="background-image:url('img/hero2.jpg')")
      article.packages
        h2 What's on offer?
        ul.labels
          li.current Student media
          li Digital
          li Onsite
        ul.slider
          ul.slide.selected#media
            li
              div.img(style="background-image:url('img/media_qh.jpg')")
              div.cover
                h4 Monthly
                p Editions
              div.caption
                h3 QH newspaper
                p Half and quarter page ads in this student-made current affairs publication.
            li
              div.img(style="background-image:url('img/media_mag.jpg')")
              div.cover
                h4 28
                p pages
              div.caption
                h3 Smoke Mag
                p Description about product goes here
            li
              div.img(style="background-image:url('img/media_radio.jpg')")
              div.cover
                h4 24/7
                p During termtime
              div.caption
                h3 Smoke Radio
                p Our campus radio station has been twice recognised as one of the best in the country.

          ul.slide#digital
            li
              div.img(style="background-image:url('img/digital_social.jpg')")
              div.cover
                h4 Crazy
                p Sales
              div.caption
                h3 Social media promotion
                p Description about product goes right about here ummhmm yes description love that lorem
            li
              div.img(style="background-image:url('img/digital_web.jpg')")
              div.cover
                h4 3500
                p Numbers
              div.caption
                h3 Website banner
                p Description about product goes here
            li
              div.img(style="background-image:url('img/digital_email.jpg')")
              div.cover
                h4 100%
                p Engagement
              div.caption
                h3 Email banner
                p Description about product goes here
          
          ul.slide#onsite
            li
              div.img(style="background-image:url('img/products.jpg')")
              div.cover
                h4 Crazy
                p Sales
              div.caption
                h3 Arrivals Fair stall
                p Description about product goes here
            li
              div.img(style="background-image:url('img/products.jpg')")
              div.cover
                h4 3500
                p Numbers
              div.caption
                h3 Campus plasma screens
                p Description about product goes here loremy loremy loremy loremy loremy loremy loremy ipsumy
            li
              div.img(style="background-image:url('img/products.jpg')")
              div.cover
                h4 100%
                p Engagement
              div.caption
                h3 Undercroft Bar screens
                p Description about product goes here

      svg(height="0",width="100%",preserveAspectRatio="none",viewBox="0 0 100 100").cut
        polygon(points="100,0 100,100, 0,100",style="fill:white;")
      svg(height="0",width="100%",preserveAspectRatio="none",viewBox="0 0 100 100").cut
        polygon(points="100,0 0,0, 0,100",style="fill:white;")

    section#cta
      h2 Interested?
      .buttons
        a(href="#")
          | Get the media pack
          i.fa.fa-caret-down
        a(href="mailto:S.Parsons1@westminster.ac.uk") Get in touch
      a(href="#").terms Terms & conditions
    footer
        a(href="http://uwsu.com")
          img(src="img/su.png")
    script(src="app.js")
