$red: #9C2133
$white: #fafafa
$dark-grey: #505050
$light-grey: #969696
$font-stack: Century Gothic, Helvetica, sans serif
$max: 950px

*
  padding: 0
  margin: 0
  box-sizing: border-box

h1,h2,h3,h4,h5,p,a
  font-family: $font-stack

a.button
  display: block
  padding: 25px
  text-decoration: none
  text-transform: uppercase
  background-color: $red
  color: $white
  border-radius: 2px
  margin: 20px
  text-align: center
  transition: 0.2s

a.button:hover
  filter: brightness(1.1)

header
  background-color: #2d2d2d
  div.container
    max-width: $max
    margin: 0px auto
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding: 10px
    color: $white
    img
      height: 40px
      opacity: 0.5
    h3
      opacity: 0.5
      font-weight: 100

section#hero::after, section#packages::after
  content: ""
  display: block
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  opacity: 0.7
  background: linear-gradient(to right, #9c1b30 0%,#843945 100%)
  z-index: -1
  mix-blend-mode: overlay

section#hero
  min-height: calc( 100vh + 60px)
  position: relative
  overflow: hidden
  svg#arrows:hover
    g:last-of-type
      transform: translateY(00px)
    g:first-of-type
      transform: translateY(60px)
  svg#arrows
    position: absolute
    transition: 0.2s
    top: calc(100vh - 105px)
    left: 50%
    transform: translateX(-50%)
    height: 45px
    fill: none
    stroke: $white
    stroke-linecap: round
    stroke-linejoin: round
    stroke-width: 5px
    cursor: pointer

    @keyframes floatUp1
      0%
        opacity: 0
        transform: translateY(60px)
      40%
        opacity: 0
        transform: translateY(60px)
      60%
        opacity: 1
        transform: translateY(20px)
      100%
        opacity: 1
        transform: translateY(20px)
    @keyframes floatUp2
      0%
        opacity: 0
        transform: translateY(60px)
      60%
        opacity: 0
        transform: translateY(60px)
      80%
        opacity: 1
        transform: translateY(20px)
      100%
        opacity: 1
        transform: translateY(20px)
    g
      animation-duration: 2s
      transition: 0.2s
      transform: translateY(20px)
    g:first-of-type
      animation-name: floatUp1
    g:last-of-type
      animation-name: floatUp2

  svg.slice
    width: 100%
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 120px
  div.bg
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-position: 10% 70%
    background-repeat: no-repeat
    background-size: cover
    background-blend-mode: luminosity
    z-index: -1
    filter: brightness(0.5) contrast(0.43) grayscale(1)
  div.content
    display: flex
    flex-direction: row
    max-width: $max
    margin: 0px auto
    justify-content: space-between
    align-items: center
    height: calc(100vh - 60px)

    h1
      font-size: 3em
      max-width: 50%
      color: $white
      font-weight: 400

      span
        font-weight: 700

    aside
      padding: 20px
      border-radius: 3px
      background-color: rgba(0,0,0,0.3)


// Alternating sells section
section#sells
  max-width: $max
  margin: 0px auto

  article.sell:last-of-type
    aside
      text-align: right
    img
      order: -1
  article.sell
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding: 70px 0px
    a:hover
      text-decoration: underline
    a
      text-decoration: none
      color: $red
    img
      width: 250px
      height: 250px
    aside
      max-width: 50%
      h2
        color: $dark-grey
        font-size: 2em
        margin: 20px 0px
      p
        color: $light-grey

// Packages slider and background
section#packages
  position: relative
  margin: 0
  box-sizing: border-box
  padding-top: 200px
  height: calc(100vh - 30px)
  margin-bottom: 150px

  article
    padding: 50px
    width: $max
    position: relative
    z-index: 999
    margin: 0px auto
    border-radius: 2px
    box-sizing: border-box
    background-color: $white
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1)
    h2.section-title
      color: $dark-grey
      text-align: center
      font-size: 2em
    h2.section-title:after
      content: ""
      display: block
      border-bottom: 3px solid $red
      width: 80px
      margin: 20px auto
    div.slider
      ul.slides
        display: flex
        flex-direction: row
        li:last-of-type
          margin-right: 0px
        li
          overflow: hidden
          margin-right: 15px
          background-color: #efefef
          position: relative
          flex: 1
          div.img
            width: 100%
            height: 180px
            filter: grayscale(1)
            background-position: center
            background-size: cover
          div::before
            content: ''
            display: block
            position: absolute
            top: -20px
            left: 50%
            transform: translateX(-50%)
            width: 0
            height: 0
            border-left: 20px solid transparent
            border-right: 20px solid transparent
            border-bottom: 20px solid #efefef
          div
            text-align: center
            padding: 15px
            position: relative
            h3
              color: $dark-grey
              font-size: 1.2em
            p
              color: $light-grey
              font-size: 0.8em
              margin: 10px 0px
      ul.labels
        margin: 40px auto
        list-style-type: none
        display: flex
        flex-direction: row
        justify-content: center
        li.current
          background-color: $red
        li
          padding: 10px
          background-color: $light-grey
          text-transform: uppercase
          font-weight: 100
          color: $white
          font-family: $font-stack
          font-size: 0.7em
          width: 150px
          margin-right: 10px
          text-align: center
          border-radius: 2px
          transition: 0.2s
          cursor: pointer
        li:hover
          filter: brightness(1.1)


  svg.slice:first-of-type
    width: 100%
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 120px
  svg.slice:last-of-type
    width: 100%
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 120px
  div.bg
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-position: 10% 70%
    background-repeat: no-repeat
    background-size: cover
    background-blend-mode: luminosity
    z-index: -1
    filter: brightness(0.5) contrast(0.43) grayscale(1)

section#cta
  padding: 100px
  h2
    font-size: 3em
    color: $dark-grey
    text-align: center
  div.buttons
    display: flex
    flex-direction: row
    justify-content: center
    a
      width: 210px
      font-size: 0.9em
      margin: 20px 10px
      border: 5px solid $red
    a:last-of-type
      background-color: #fff
      color: $red
  a.terms
    color: $light-grey
    text-align: center
    text-decoration: none
    display: block
    font-size: 0.8em

footer
  background-color: #2d2d2d
  div.container
    max-width: $max
    margin: 0px auto
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    padding: 10px
    color: $white
    img
      height: 40px
      opacity: 0.5
    p
      opacity: 0.5
      font-size: 0.8em
